# maven ignore
target/
logs/*

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

#arcanic ignore
.arcconfig

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
*~

# system ignore
.DS_Store
Thumbs.db

# package ignore (optional)
*.jar
*.war
*.zip
*.tar
*.tar.gz

